apiVersion: v1
kind: Pod
metadata:
  labels:
    app: dci-provisioner
  name: dci-provisioner
spec:
  containers:
    - image: "{{ redis_image }}"
      name: redis
      args: ['--dir', '/data']
      volumeMounts:
        - mountPath: "/data:z"
          name: redis-volume
    - image: "{{ dci_provisioner_image }}"
      name: provisioner
      envFrom:
      - configMapRef:
          name: config
    - image: "{{ dci_lab_image }}"
      name: lab
      envFrom:
      - configMapRef:
          name: config
      volumeMounts:
        - mountPath: "/opt/tftpboot:z"
          name: tftp-volume
        - mountPath: "/opt/templates:z"
          name: templates-volume
    - image: "{{ hooktftp_image }}"
      name: hooktftp
      volumeMounts:
        - mountPath: "/var/lib/tftpboot:z"
          name: tftp-volume
  volumes:
    - name: redis-volume
      hostPath:
        path: "{{ provisioner_dir }}/redis"
        type: Directory
    - name: tftp-volume
      hostPath:
        path: "{{ provisioner_dir }}/tftpboot"
        type: Directory
    - name: templates-volume
      hostPath:
        path: "{{ provisioner_dir }}/templates"
        type: Directory
  restartPolicy: OnFailure
  {% if (dns_servers | length) > 0 %}
  dnsConfig:
    nameservers:
      {% for server in dns_servers %}
      - {{ server }}
      {% endfor %}
  {% endif %}
